/* TODO add hover, focus, active */
/* TODO тени */
.btn {
  @apply inline-block 
        font-normal 
        rounded-full 
        text-base
        text-center
        py-2
        px-5
        text-color4 
        bg-btnColor1 
        hover:bg-red-400 
        focus:bg-red-400
        active:bg-red-500;
}
