@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../assets/fonts/opensansregular.woff2") format("woff2"),
    url("../assets/fonts/opensansregular.woff") format("woff");

  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../assets/fonts/opensansbold.woff2") format("woff2"),
    url("../assets/fonts/opensansbold.woff") format("woff");

  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.quote-icon::before {
  position: absolute;

  top: -2.8rem;
  left: 40%;

  width: 46px;
  height: 32px;

  content: "";

  background-image: url("../assets/images/quote-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.title-icon::before,
.title-icon::after {
  position: absolute;

  width: 10px;
  height: 10px;

  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
}

.title-cion::before {
}

.title-icon::after {
}
